<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Underground Meetup</title>
    <link rel="stylesheet" href="{{ stylesheet }}" type="text/css"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <script src="{{ script }}"></script>
  </head>
  <body>
    <main>
      <h1>Underground Meetup</h1>
      <div id="form">
        <div>
          <select id="city">
            <option value="tokyo">Tokyo</option>
            <!--            <option value="berlin">Berlin</option> -->
          </select>
        </div>
        <div>
          <input type="text" id="me" placeholder="My Location"/>
        </div>
        <div>
          <input type="text" id="friend1" placeholder="Friend's Location"/>
        </div>
        <div class="two-buttons">
          <button id="add-field">+</button>
          <button id="del-field">-</button>
        </div>
        <div id="resultcon">
          Meet at <span id="result">G04</span>!
        </div>
      </div>
    </main>
  </body>
</html>
